<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967992930084-a5dmg0n0g3j1f2718qt3i2qcfl7750uc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967992930084-a5dmg0n0g3j1f2718qt3i2qcfl7750uc</string>
	<key>API_KEY</key>
	<string>AIzaSyCtgoR2ORP9Wlt6YGnnsC0Lk8KWbwY0XTM</string>
	<key>GCM_SENDER_ID</key>
	<string>967992930084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.camstar.redeem</string>
	<key>PROJECT_ID</key>
	<string>qrscanner-65b75</string>
	<key>STORAGE_BUCKET</key>
	<string>qrscanner-65b75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967992930084:ios:5ee65e6c72aa9f53b20db1</string>
</dict>
</plist>